---
layout: none
---

body {
  margin: 0;
  padding: 0;
  background: #151515 url("{{ site.github.owner_gravatar_url }}") 0 0;
  color: #eaeaea;
  font: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}