---
layout: default
title: "Hello World"
---

<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>


<div id="debug">
  <ul>
  {% for sect in site %}
	<li>{{ site.sect }}</li>
  {% endfor %}
  </ul>
</div>


<h1>Posts</h1>

<ul id="posts">
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      {{ post.excerpt }}
      {{ post.author }}
    </li>
  {% endfor %}
</ul>

