---
layout: slate
title: dlbewley.github.io
#title: {{ site.github.project_title }}
---

<!-- https://help.github.com/articles/repository-metadata-on-github-pages/ -->

<em>{{ site.github.project_tagline }}</em>

<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h1>Repositories</h1>
  <ul class="repos">
    {% for repo in site.github.public_repositories %}
      <li><span>{{ repo.name }} {{ repo.html_url }} {{ repo.homepage }}</span></li>
    {% endfor %}
  </ul>
</div>

