    <!-- FOOTER  -->
  {% if site.footer_links.github %}<a href="http://github.com/{{ site.footer-links.github }}" class="webicon github small">GH</a>{% endif %}
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">{{page.title}} maintained by <a href="https://github.com/dlbewley">{{page.author.name}}</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
{% include nav.html %}
<!-- <footer class="footer"> -->
  {% if site.footer_links.github %}<a href="http://github.com/{{ site.footer_links.github }}" class="webicon github small">GH</a>{% endif %}
  {% if site.footer_links.twitter %}<a href="http://twitter.com/{{ site.footer_links.twitter }}" class="webicon twitter small">T</a>{% endif %}
  {% if site.footer_links.linkedin %}<a href="https://www.linkedin.com/profile/view?id={{ site.footer_links.linkedin }}" class="webicon linkedin small">L</a>{% endif %}
<!-- </footer> -->
      </footer>
    </div>
