    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">{{page.title}} maintained by <a href="https://github.com/dlbewley">{{page.author.name}}</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
{% include nav.html %}
<img src="{{site.github.owner_gravatar_url}}" width=20 height=20 style="padding: 0; border: 0; float: right;" />
      </footer>
<!-- <footer class="footer"> -->
  {% if site.footer-links.github %}<a href="http://github.com/{{ site.footer-links.github }}" class="webicon github small">GH</a>{% endif %}
  {% if site.footer-links.twitter %}<a href="http://twitter.com/{{ site.footer-links.twitter }}" class="webicon twitter small">T</a>{% endif %}
  {% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/profile/view?id={{ site.footer-links.linkedin }}" class="webicon linkedin small">L</a>{% endif %}
<!-- </footer> -->
    </div>
