<!DOCTYPE HTML>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{{site.url}}/css/syntax.css"       media="screen">
    <link rel="stylesheet" type="text/css" href="{{site.url}}/css/style.css"        media="screen">
    <link rel="alternate" type="application/atom+xml" title="GUI Free Life Blog" href="/feed.xml">
    <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}{{ page.author }}</title>
    {% include analytics.html %}
    {% include search.html %}
  </head>
  <body>
    <a href="/">home</a>
